# SPDX-FileCopyrightText: 2014 JingleManSweep
# SPDX-FileCopyrightText: 2015-2018 Lars Kellogg-Stedman <lars@oddbit.com>
# SPDX-FileCopyrightText: 2019-2020 Mark Jonas <toertel@gmail.com>
#
# SPDX-License-Identifier: MIT

{%- set qemu_dict = {"amd64": None, "arm32v5": "arm", "arm32v7": "arm", "arm64v8": "aarch64"} %}
{%- set qemu_arch = qemu_dict[container_arch] %}

FROM {{ container_arch }}/debian:buster-slim
LABEL maintainer="Mark Jonas <toertel@gmail.com>"

{% if qemu_arch %}
COPY qemu-{{ qemu_arch }}-static /usr/bin/
{%- endif %}

ARG LMS_VERSION=7.9.2
ARG LMS_URL=http://downloads.slimdevices.com/LogitechMediaServer_v${LMS_VERSION}/logitechmediaserver_${LMS_VERSION}_all.deb

ENV SQUEEZE_VOL /srv/squeezebox
ENV LANG C.UTF-8

ARG DEBIAN_FRONTEND=noninteractive

RUN apt-get update && \
	apt-get -y --no-install-recommends install \
		curl \
		ca-certificates \
		faad \
		flac \
		lame \
		sox \
		libio-socket-ssl-perl \
		tzdata \
		&& \
	apt-get clean && \
	rm -rf /var/lib/apt/lists/*

# Add Google Music plugin
{% include "google-music.j2" %}

RUN curl -Lsf -o /tmp/logitechmediaserver.deb ${LMS_URL} && \
	dpkg -i /tmp/logitechmediaserver.deb && \
	rm -f /tmp/logitechmediaserver.deb && \
	apt-get clean

# This will be created by the entrypoint script.
RUN userdel squeezeboxserver

VOLUME $SQUEEZE_VOL
EXPOSE 3483 3483/udp 9000 9090

COPY entrypoint.sh /entrypoint.sh
COPY start-squeezebox.sh /start-squeezebox.sh
ENTRYPOINT ["/entrypoint.sh"]
